* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
body {
  margin: 0;
}
.header_startup {
  margin-bottom: 260px;
}
.startup {
  background: url(..//img/background.png) no-repeat center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 260px;
}
.navigation a {
  text-decoration: none;
  color: #ffffff;
}
.menu {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400px;
}
.menu:not(:last-child) {
  margin-right: 30px;
}
.container {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  color: #ffffff;
}
.wrapper h1 {
  width: 585px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 400px;
}
.wrapper p {
  width: 395px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 55px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}
.start {
  display: block;
  width: 184px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  color: #ffffff;
  padding: 16px 33px;
  border: 2px solid #ffffff;
}
.title {
  margin-right: 510px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.services {
  padding-top: 98px;
  padding-bottom: 105px;
}
.title_services {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.title_services::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  background-color: black;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}
.description {
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #555555;
}
.container_serv {
  display: flex;
}
.serv {
  width: 345px;
  text-align: center;
  justify-content: space-between;
}
.serv:not(:last-child) {
  margin-right: 45px;
}
.support {
  width: 90px;
  height: 90px;
  background: url(..//img/FA\ icon\ 3.png) no-repeat center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.code {
  background: url(..//img/FA\ icon\ 2.png) no-repeat center;
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.font {
  background: url(..//img/FA\ icon.png) no-repeat center;
  height: 90px;
  width: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.serv h3 {
  margin-top: 0;
  color: #555555;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.serv p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #555555;
}
